.imgOpenedBg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgOpenedBg img {
    max-width: 70%;
}

.imgOpenedBg button {
    margin: 1%;
    background-color: rgba(0, 0, 0, 0.1);
    border-color: rgba(0, 0, 0, 0.1);;
    color: white;
    font-size: large;
}