.post {
  background-color: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(238, 243, 246, 0.4), 0px 0px 4px rgba(217, 226, 235, 0.1), 0px 0px 15px rgba(217, 226, 235, 0.1);
  border-radius: 15px;
  margin-bottom: 2%;
}

.postContainer {
  height: 93%;
  padding: 3%;
}

.postText {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #5C6778;
  margin-top: 1%;
  padding-top: 2%;
  padding-left: 3%;
  padding-right: 3%;
}

.postContent {
  /**/
}

.postInfo {
  display: flex;
  padding: 2%;
}

.postAvatar {
  width: 56px;
  height: 56px;
  border-radius: 15px;
}

.postName {
  font-weight: 400;
  font-size: 14px;
  color: #ABB9C9;
}

.postLogin {
  font-weight: 600;
  font-size: 14px;
  color: #5C6778;
}

.options {
  margin-left: auto;
}

.postImgsContainer {
  margin-top: 2%;
  width: 100%;
  background-color: burlywood;
}

.imgCrop {
  overflow: hidden;
  width: 100%;
  height: 200px;
  background-color: aliceblue;
}

  .imgCrop img {
    max-width: 700px;
  }

.actionsContainer {
  padding: 1.5%;
  display: flex;
  font-weight: 400;
  font-size: 15px;
  color: #A1B3BD;
}

  .actionsContainer div {
    width: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
  }
