.post, .post-no-corners, .post-comment, .post-end-no-corners, .quote-post {
  background-color: #FFFFFF;
}

.quote-post {
  border: 1px solid #e2e7ee;
  border-radius: 15px;
}

.post {
  border-radius: 15px;
  box-shadow: 0px 0px 4px rgba(238, 243, 246, 0.4), 0px 0px 4px rgba(217, 226, 235, 0.1), 0px 0px 15px rgba(217, 226, 235, 0.5);
}

.post-no-corners {
  border-radius: 15px 15px 0px 0px;
  box-shadow: -4px 0 4px rgba(238, 243, 246, 0.4), 4px 0 4px rgba(238, 243, 246, 0.4), 0 -4px 4px rgba(238, 243, 246, 0.4);
}

.post-end-no-corners {
  border-radius: 0px 0px 15px 15px;
  box-shadow: 4px 0 4px rgba(238, 243, 246, 0.4),
            -4px 0 4px rgba(238, 243, 246, 0.4),
            0 4px 4px rgba(238, 243, 246, 0.4);
}

.post-comment {
  box-shadow: -4px 0 4px rgba(238, 243, 246, 0.4), 4px 0 4px rgba(238, 243, 246, 0.4);
}

.postContainer {
  height: 93%;
  padding: 3%;
}

.postContent:hover{
  cursor: pointer;
}

.postText {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #5C6778;
  line-height: 20px;
  /* display: flex;
  align-items: center; */
  margin-top: 1%;
  padding-top: 2%;
  padding-left: 3%;
  padding-right: 3%;
  margin-bottom: 2%;
  overflow-wrap: break-word;
}

.postContent {
  /**/
}

.postInfo {
  display: flex;
  padding: 2%;
}

.postAvatar {
  width: 56px;
  height: 56px;
  border-radius: 15px;
  overflow: hidden;
}

.postImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.postName {
  font-weight: 400;
  font-size: 14px;
  color: #ABB9C9;
}

.postName-noHov {
  font-weight: 400;
  font-size: 14px;
  color: #ABB9C9;
}

.postLogin {
  font-weight: 600;
  font-size: 14px;
  color: #5C6778;
}

.postLogin-noHov {
  font-weight: 600;
  font-size: 14px;
  color: #5C6778;
}

.options {
  margin-left: auto;
}

  .options img {
    width: 20px;
    margin-right: 10px;
  }

.postImgsContainer {
  width: 100%;
  background-color: burlywood;
  display: flex;
  flex-wrap: wrap;
}

.imgCrop {
  flex: 1 0 50%;
  overflow: hidden;
  width: 100%;
  height: fit-content;
  max-height: 600px;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

  .imgCrop img {
    max-width: 100%;
  }

  .imgCrop:nth-child(1):nth-last-child(1),
  .imgCrop:nth-child(2):nth-last-child(1) {
    flex-basis: 100%; 
  }

  .imgCrop:nth-child(1):nth-last-child(2),
  .imgCrop:nth-child(2):nth-last-child(2),
  .imgCrop:nth-child(2):nth-last-child(3) {
    flex-basis: 50%; 
  }

  .imgCrop:nth-child(1):nth-last-child(3)  img,
  .imgCrop:nth-child(2):nth-last-child(2) img {
    max-width: 500px;
  }

  .imgCrop:nth-child(1):nth-last-child(4)  img,
  .imgCrop:nth-child(2):nth-last-child(3) img ,
  .imgCrop:nth-child(3):nth-last-child(2)  img,
  .imgCrop:nth-child(4):nth-last-child(1) img {
    max-width: 500px;
  }

.actionsContainer {
  padding: 1.5%;
  display: flex;
  font-weight: 400;
  font-size: 15px;
  color: #A1B3BD;
}

  .actionsContainer div {
    width: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.re-toast-modal {
  background-color: white;
  position: absolute; 
  left: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid #e2e7ee;
  border-radius: 10px;
  /* box-shadow: -4px 0 4px rgba(238, 243, 246, 0.4), 4px 0 4px rgba(238, 243, 246, 0.4); */
  font-weight: 600;
  font-size: 13px;
  color: #5C6778;
  bottom: 1px;
}

.retoastoption1, .retoastoption2 {
  padding: 5px;
}

.retoastoption1:hover {
  background-color: #5C6778;
  border-radius: 10px 10px 0 0;
  background-color: rgba(102, 104, 120, 0.07);
  cursor: pointer;
} 

.retoastoption2:hover {
  border-radius: 0 0 10px 10px;
  background-color: rgba(102, 104, 120, 0.07);
  cursor: pointer;
} 

.toast-options-modal {
  background-color: white;
  position: absolute; 
  right: 2px;
  display: flex;
  flex-direction: column;
  border: 1px solid #e2e7ee;
  border-radius: 10px;
  /* box-shadow: -4px 0 4px rgba(238, 243, 246, 0.4), 4px 0 4px rgba(238, 243, 246, 0.4); */
  font-weight: 600;
  font-size: 13px;
  color: #5C6778;
  bottom: 1px;
}

.options-modal-delete {
  padding: 6px;
  width: 125px;
  text-align: center;
  color: rgb(161, 104, 104);
}