@import './app/identification/identificationStyle.css';
@import './app/home/navBar/navBarStyle.css';
@import './app/home/post/postStyle.css';
@import './app/home/toastCreator/toastCreatorStyle.css';
@import './app/home/homeStyle.css';
@import './app/home/mainPageStyles.css';
@import './app/home/imgOpened/imgOpened.css';
@import './app/messages/messagesStyle.css';
@import './app/toast-it-page/toast-it.css';
@import './app/profile-page/profile.component.css';

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body {
  background: #F7F9FA;
}
