.askContainer {
  background-color: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(238, 243, 246, 0.4), 0px 0px 4px rgba(217, 226, 235, 0.1), 0px 0px 15px rgba(217, 226, 235, 0.5);
  border-radius: 15px;
  width: 100%;
  padding-bottom: 6%;
  min-height: 120px;
}

.postTextZone {
  width: 100%;
  height: fit-content;
  margin-top: 2%;
  margin-left: 2%;
  font-weight: 600;
  font-size: 14px;
  color: #5C6778;
  border: none;
}

.postTextZone:focus, input:focus{
  outline: none;
  border: none;
}

.toast-btn {
  margin: 10px;
  width: 180px;
  height: 4vh;
  background: #5B66CA;
  border-radius: 100px;
  border: solid #5B66CA 2px;
  font-style: normal;
  font-weight: 550;
  font-size: 0.9vw;
  line-height: 16px;
  color: #FFFFFF;
  float: right;
}