<div class="recommendedProfile">
  <div>
    <img class="postAvatar" src="https://i.pinimg.com/564x/86/82/84/86828411400537a803f26013641c4770.jpg" />
  </div>

  <div class="loginNameContainer">
    <div class="postLoginSmaller">
      Zhongli - God of contracts
    </div>
    <div class="postNameSmaller">
      @ZhongliGodofcontracts
    </div>
  </div>

  <img style="margin-left: auto;" src='data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwIDBDNC40OSAwIDAgNC40OSAwIDEwQzAgMTUuNTEgNC40OSAyMCAxMCAyMEMxNS41MSAyMCAyMCAxNS41MSAyMCAxMEMyMCA0LjQ5IDE1LjUxIDAgMTAgMFpNMTQgMTAuNzVIMTAuNzVWMTRDMTAuNzUgMTQuNDEgMTAuNDEgMTQuNzUgMTAgMTQuNzVDOS41OSAxNC43NSA5LjI1IDE0LjQxIDkuMjUgMTRWMTAuNzVINkM1LjU5IDEwLjc1IDUuMjUgMTAuNDEgNS4yNSAxMEM1LjI1IDkuNTkgNS41OSA5LjI1IDYgOS4yNUg5LjI1VjZDOS4yNSA1LjU5IDkuNTkgNS4yNSAxMCA1LjI1QzEwLjQxIDUuMjUgMTAuNzUgNS41OSAxMC43NSA2VjkuMjVIMTRDMTQuNDEgOS4yNSAxNC43NSA5LjU5IDE0Ljc1IDEwQzE0Ljc1IDEwLjQxIDE0LjQxIDEwLjc1IDE0IDEwLjc1WiIgZmlsbD0iIzVCNjZDQSIvPgo8L3N2Zz4K' />
</div>
