.optionsBar {
  margin-left: auto;
  height: 344px;
  background-color: #FFFFFF;
  border-radius: 15px 15px 15px 15px;
  width: 70%;
  min-width: 20px;
  box-shadow: 0px 0px 4px rgba(238, 243, 246, 0.4), 0px 0px 4px rgba(217, 226, 235, 0.1), 0px 0px 15px rgba(217, 226, 235, 0.1);
  padding: 10%;
  margin-bottom: 6%;
}

.actionsContainerBar {
  display: flex;
  height: 100%;
}

.optionsIconsInBar {
  width: 50px;
}

  .optionsIconsInBar div {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.optionsIconsInBarExtended {
  background: rgb(255,255,255);
  width: 90%;
  margin-bottom: 10%;
}

@media screen and (max-width: 1024px) {
  .optionsIconsInBarExtended {
    display: none !important;
  }
}

.optionsIconsInBarExtended div {
  height: 21%;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  color: #5C6778;
  background-color: #FFFFFF;
  margin-bottom: 1%;
}
