.optionsBar {
  margin-left: auto;
  height: 344px;
  background-color: #FFFFFF;
  border-radius: 15px;
  width: 70%;
  min-width: 20px;
  box-shadow: 0px 0px 4px rgba(238, 243, 246, 0.4), 0px 0px 4px rgba(217, 226, 235, 0.1), 0px 0px 15px rgba(217, 226, 235, 0.5);
  margin-bottom: 6%;
  padding-top: 12%;
}

.option {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.option-extended {
  width: 70%;
  font-weight: 700;
  font-size: 16px;
  color: #5C6778;
  display: flex;
  align-items: center;
  height: 50px;
}

.option-icon {
  width: 60px;
  min-width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

@media screen and (max-width: 1024px) {
  .option-extended {
    display: none !important;
  }
}

.option:hover {
  background-color: rgba(102, 104, 120, 0.07);
  cursor: pointer;
}